body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

h1{ margin:0;
    text-align: center;
    padding:50px;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(8, 69, 168);
    color:white;
    margin-bottom:20px;
}

p{
    text-align: center;
    margin: 40px;
}

a{
    text-decoration: none;
    color:rgb(159, 0, 159);
}
a:hover{
    color:rgb(21, 111, 255);
}
  
#message{
    padding:20px;
    border: 2px solid #dfe1e5;
    border-radius: 7px;
    box-shadow: 0 2px 6px  rgba(32,33,36,.28);
    display:flex;
    flex-direction:column;
    height:auto;
    width:250px;
    margin: 0 auto;
}

label{
    padding:5px;
    border: 2px solid transparent;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}

input, select{
  padding:7px;
  border: 2px solid #dfe1e5;
  border-radius: 5px;
  box-shadow: 0 2px 6px  rgba(32,33,36,.28);
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  
}

#bt{
    padding:5px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 6px  rgba(32,33,36,.28);
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    background-color:rgb(8, 69, 168);
    color:white;
    margin-top: 25px;
}

#bt:hover{
    background-color:rgb(53, 130, 255);
    cursor: pointer;
}

#result{
    padding:20px;
    border: 2px solid transparent;
    border-radius: 7px;
    box-shadow: 0 0px 8px rgba(32,33,36,.28);
    display:flex;
    flex-direction:column;
    height:auto;
    width:250px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}